src/main/mule/jenkinscicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27b35f84-7471-4704-8868-392f2b5a9363" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<import doc:name="Import" doc:id="d453af6d-b0ce-409c-b672-e6dd8fb847dc" doc:description="common-global" file="common-global.xml" />
    <import doc:name="Import" doc:id="53f264bc-9436-4d9e-9062-562c28026e7a" doc:description="error-handler" file="error-handler.xml" />
    <import doc:name="Import" doc:id="1b078a54-4bb1-423b-bbb8-57b93945575c" doc:description="mule-common-logging" file="mule-common-logging.xml" />
	<flow name="jenkinscicdFlow1" doc:id="ea8fdc1a-0bd4-4a27-8651-53f5d071b748" >
		<http:listener doc:name="Listener" doc:id="56cb605e-78bb-431d-97fe-28737b419cd6" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="8bd8f6a0-51bb-453b-b7f5-cc17c5ca4f52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="c1da2dfe-9778-46ec-9fa4-56afe84a633e" name="mile-log:payload-logger"/>
		<logger level="INFO" doc:name="Logger" doc:id="eb35156b-7768-44cc-9205-ce5bc84ce6d0" message="#[payload]"/>
	</flow>
</mule>
